.altMissionButton {
  background-image: var(--ab-switch-icon);
}

.plastic { background-image: var(--icon-gacha-plastic); }
.armored { background-image: var(--icon-gacha-armored); }
.wood { background-image: var(--icon-gacha-wood); }
.stone { background-image: var(--icon-gacha-stone); }
.rare { background-image: var(--icon-gacha-rare); }
.rankup { background-image: var(--icon-gacha-rankup); }
.epic { background-image: var(--icon-gacha-epic); }
.gold { background-image: var(--icon-gacha-gold); }
.supreme { background-image: var(--icon-gacha-supreme); }

.darkscience { background-image: var(--icon-darkscience); }
.science { background-image: var(--icon-science); }
.comrades { background-image: var(--icon-comrade); }

.comradesPerSec,
.TradePayoutMultiplier { background-image: var(--icon-comrades-per-sec); }

.power,
.GeneratorPayoutMultiplier { background-image: var(--icon-boost-power); }

.discount,
.GeneratorCostReduction { background-image: var(--icon-discount); }

.critChance,
.GeneratorCritChance { background-image: var(--icon-crit-chance); }

.critPower,
.GeneratorCritPowerMult { background-image: var(--icon-crit-power); }

.speed,
.GenManagerAndSpeedMult { background-image: var(--icon-speed); }

.cardIcon { background-image: var(--icon-card); }
